.light {
  background-image: url("../../img/sakuu.jpeg");
  height: 100vh;
  height: auto;
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
  background-position: center;
}

.dark {
  background: url("../../img/saki.jpeg");
  height: 100vh;
  height: auto;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .dark {
    background: url("../../img/oscuro2\)\ \(2\).jpeg");
  }
}
